<head>

    <script>
        if ((window.location.pathname[0] + window.location.pathname[1]) == '//') {
            var p = window.location.pathname.split('')
            p.splice(0, 1);
            window.location = p.join('');
        }
    </script>
    <!-- GRETA https://greta.io/documentation-headless.html
    <script>
        GretaOptions = {
            cache: {
                time: 2592000000
            },
            lazyLoad: {
                imgAttribute: 'src',
            },
            debug: true
        }
    </script>
    <script>
        setTimeout(function () {
            function t() {
                var t = window.GretaOptions || {};
                t.lazyLoad = t.lazyLoad || {};
                for (var e = t.lazyLoad.imgAttribute || "src", a = t.lazyLoad.bgImgAttribute || "data-bg-src", r = ["DIV", "SECTION", "ARTICLE", "ASIDE", "B", "BODY", "FIGURE", "HTML", "I", "LI", "MAIN", "MARK", "NAV", "P", "SPAN", "STRONG", "SUMMARY", "TABLE", "TIME", "UL", "H1", "H2", "H3", "H4", "LABEL"], l = t.lazyLoad.addClassOnLoad || "", A = document.querySelectorAll("IMG[" + e + "]"), o = 0; o < A.length; o++) {
                    var n = A[o].getAttribute(e);
                    n && A[o].src !== n && (A[o].src = n, l.length > 0 && (A[o].className += " " + l))
                }
                for (var o = 0; o < r.length; o++)
                    for (var I = document.querySelectorAll(r[o] + "[" + a + "]"), L = 0; L < I.length; L++) {
                        var n = I[L].getAttribute(a);
                        n && I[L].style.backgroundImage !== "url(" + n + ")" && (I[L].style.backgroundImage = "url(" + n + ")", l.length > 0 && (I[L].className += " " + l))
                    }
            }
            window.greta || setInterval(t, 1e3)
        }, 1e3);
    </script>

    <script src="https://cdn.greta.io/greta.min.js"></script>-->


    <!-- SERVICE WORKER -->
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js')
                .then(function () {
                    console.log("Service Worker Registered");
                });
        }
    </script>
    <!-- END SERVICE WORKER -->

    <link rel="manifest" href="/manifest.json">

    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
    </title>

    <!-- Font Awesome -->
    <!--<script src="https://use.fontawesome.com/a7dc0e2fde.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- from https://cdnjs.com/libraries/font-awesome -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurlactual }}public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurlactual }}public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurlactual }}public/css/hyde.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

    <link rel="stylesheet" href="{{ site.baseurlactual }}public/css/main.css">


    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurlactual }}public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurlactual }}public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>